@page "/sessions"

@using PlanningPoker.Views;
@using PlanningPoker.ViewModels;

@inherits SessionsBase

<h3>Sessions</h3>

@if (Bind(vm => vm.Sessions) == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>State</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SessionViewModel session in Bind(vm => vm.Sessions))
            {
                <tr>
                    <td><a href="sessions/@session.SessionId">@session.Title</a></td>
                    <td>@Bind(session, x => x.State)</td>
                    <td>
                        <button class="btn btn-link"
                                @onclick="@(() => BindingContext.RemoveSession(session.SessionId))">
                            Delete
                        </button>
                        <button class="btn btn-link"
                                @onclick="@(() => session.Start())"
                                disabled="@(Bind(session, x => x.State) > Data.PlanningPokerSessionState.Lobby)">
                            Start Session
                        </button>
                        <button class="btn btn-link"
                                @onclick="@(() => session.End())"
                                disabled="@(Bind(session, x => x.State) == Data.PlanningPokerSessionState.Complete)">
                            End Session
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<EditForm Model="@BindingContext.NewSession" OnValidSubmit="@BindingContext.CreateSessionAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="BindingContext.NewSession.Title"></InputText>

    <button type="submit" class="btn btn-primary">Create Session</button>
</EditForm>
