@page "/sessions/{SessionId}"

@using PlanningPoker.Views;

@inherits SessionBase;

<h3>Session</h3>

<h4>@BindingContext.Session.Title</h4>
<h5 class="text-muted">Host: @BindingContext.Session.Host.Identity.Name</h5>

<a class="btn btn-secondary" href="Sessions">Back to All Sessions</a>

<button class="btn btn-primary"
        @onclick="@(() => BindingContext.Session.Start())"
        disabled="@(Bind(BindingContext.Session as ViewModels.SessionViewModel, s => s.State) == Data.PlanningPokerSessionState.Lobby)">
    Start Session
</button>
<button class="btn btn-secondary"
        @onclick="@(() => BindingContext.Session.End())"
        disabled="@(Bind(BindingContext.Session as ViewModels.SessionViewModel, s => s.State) == Data.PlanningPokerSessionState.Complete)">
    End Session
</button>